<div id="<%= dom_id forma %>">
  <div>
    <strong>Nome:</strong>
    <%= forma.nome %>
  </div>

  <div>
    <strong>Descrição:</strong>
    <%= forma.descricao %>
  </div>

  <div>
    <strong>Alcance:</strong>
    <%= forma.alcance %>
  </div>

  <div>
    <strong>Tamanho:</strong>
    <%= forma.tamanho %>
  </div>

  <div>
    <strong>Duração:</strong>
    <%= forma.duracao %>
  </div>

  <div>
    <strong>Custo base:</strong>
    <%= forma.custo_base %>
  </div>

  <div>
    <strong>Poder base:</strong>
    <%= forma.poder_base %>
  </div>

</div>
