<%= form_with(model: forma) do |form| %>
  <% if forma.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(forma.errors.count, "erro") %> encontrados:</h2>
      <ul>
        <% forma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, "Nome:" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, "Descrição:" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :alcance, "Alcance:" %>
    <%= form.text_field :alcance %>
  </div>

  <div>
    <%= form.label :tamanho, "Tamanho:" %>
    <%= form.text_field :tamanho %>
  </div>

  <div>
    <%= form.label :duracao, "Duração:" %>
    <%= form.text_field :duracao %>
  </div>

  <div>
    <%= form.label :custo_base, "Custo:" %>
    <%= form.number_field :custo_base %>
  </div>

  <div>
    <%= form.label :poder_base, "Poder:" %>
    <%= form.number_field :poder_base %>
  </div>

  <div>
    <%= form.label :complexa, "É uma carta complexa (Upgrade)?" %>
    <%= form.check_box :complexa %>
  </div>

  <% if forma.complexa? || forma.new_record? %>
    <div>
      <%= form.label :upgrade_ids, "Upgrades disponíveis:" %>
      <%= form.collection_check_boxes :upgrade_ids, Forma.where(complexa: true).where.not(id: forma.id), :id, :nome do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>