<h1><%= @forma.nome %></h1>

<div>
  <p><strong>Tipo:</strong> <%= @forma.complexa? ? "Complexa" : "Básica" %></p>
  <p><strong>Descrição:</strong> <%= @forma.descricao %></p>
  <p><strong>Alcance:</strong> <%= @forma.alcance %></p>
  <p><strong>Tamanho:</strong> <%= @forma.tamanho %></p>
  <p><strong>Duração:</strong> <%= @forma.duracao %></p>
  <p><strong>Custo:</strong> <%= @forma.custo_base %></p>
  <p><strong>Poder:</strong> <%= @forma.poder_base %></p>
</div>

<% if @forma.upgrades.any? %>
  <h2>Upgrades disponíveis</h2>
  <ul>
    <% @forma.upgrades.each do |upgrade| %>
      <li><%= link_to upgrade.nome, upgrade %></li>
    <% end %>
  </ul>
<% end %>

<% if @forma.formas_origem.any? %>
  <h2>Upgrade de</h2>
  <ul>
    <% @forma.formas_origem.each do |origem| %>
      <li><%= link_to origem.nome, origem %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Editar", edit_forma_path(@forma) %>
