<%= form_with(model: transmutacao) do |form| %>
  <% if transmutacao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transmutacao.errors.count, "error") %> prohibited this transmutacao from being saved:</h2>

      <ul>
        <% transmutacao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.textarea :descricao %>
  </div>

  <div>
    <%= form.label :dado_poder, style: "display: block" %>
    <%= form.text_field :dado_poder %>
  </div>

  <div>
    <%= form.label :custo_multiplicador, style: "display: block" %>
    <%= form.text_field :custo_multiplicador %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
