<div id="<%= dom_id transmutacao %>">
  <div>
    <strong>Nome:</strong>
    <%= transmutacao.nome %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= transmutacao.descricao %>
  </div>

  <div>
    <strong>Dado poder:</strong>
    <%= transmutacao.dado_poder %>
  </div>

  <div>
    <strong>Custo multiplicador:</strong>
    <%= transmutacao.custo_multiplicador %>
  </div>

</div>
