<div id="<%= dom_id transmutacao %>">
  <div>
    <strong>Nome:</strong>
    <%= transmutacao.nome %>
  </div>

  <div>
    <strong>Descrição:</strong>
    <%= transmutacao.descricao %>
  </div>

  <div>
    <strong>Dado de Poder:</strong>
    <%= transmutacao.dado_poder %>
  </div>

  <div>
    <strong>Multiplicador de Custo:</strong>
    <%= transmutacao.custo_multiplicador %>
  </div>

</div>
