<h1><%= @transmutacao.nome %></h1>

<div>
  <p><strong>Tipo:</strong> <%= @transmutacao.complexa? ? "Complexa" : "Basica" %></p>
  <p><strong>Descricao:</strong> <%= @transmutacao.descricao %></p>
  <p><strong>Dado de Poder:</strong> <%= @transmutacao.dado_poder %></p>
  <p><strong>Multiplicador de Custo:</strong> x<%= @transmutacao.custo_multiplicador %></p>
</div>

<% if @transmutacao.upgrades.any? %>
  <h2>Upgrades disponiveis</h2>
  <ul>
    <% @transmutacao.upgrades.each do |upgrade| %>
      <li><%= link_to upgrade.nome, upgrade %></li>
    <% end %>
  </ul>
<% end %>

<% if @transmutacao.transmutacaos_origem.any? %>
  <h2>Upgrade de</h2>
  <ul>
    <% @transmutacao.transmutacaos_origem.each do |origem| %>
      <li><%= link_to origem.nome, origem %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Editar", edit_transmutacao_path(@transmutacao) %>