<%= form_with(model: modificador) do |form| %>
  <% if modificador.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(modificador.errors.count, "erro") %> encontrados:</h2>
      <ul>
        <% modificador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, "Nome:" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, "Descricao:" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :operacao_custo, "Operacao de Custo:" %>
    <%= form.select :operacao_custo, [["Soma", "soma"], ["Multiplicacao", "multiplicacao"], ["Divisao", "divisao"], ["Subtracao", "subtracao"]] %>
  </div>

  <div>
    <%= form.label :valor_custo, "Valor do Custo:" %>
    <%= form.number_field :valor_custo, step: 0.1 %>
  </div>

  <div>
    <%= form.label :operacao_poder, "Operacao de Poder:" %>
    <%= form.select :operacao_poder, [["Nenhuma", ""], ["Soma", "soma"], ["Multiplicacao", "multiplicacao"], ["Divisao", "divisao"], ["Subtracao", "subtracao"]], include_blank: true %>
  </div>

  <div>
    <%= form.label :valor_poder, "Valor do Poder:" %>
    <%= form.number_field :valor_poder, step: 0.1 %>
  </div>

  <div>
    <%= form.label :efeito, "Efeito:" %>
    <%= form.text_area :efeito %>
  </div>

  <div>
    <%= form.label :complexa, "Carta complexa (Upgrade)?" %>
    <%= form.check_box :complexa %>
  </div>

  <div>
    <%= form.label :upgrade_ids, "Upgrades disponiveis:" %>
    <%= form.collection_check_boxes :upgrade_ids, Modificador.where(complexa: true).where.not(id: modificador.id), :id, :nome do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>