<div id="<%= dom_id modificador %>">
  <div>
    <strong>Nome:</strong>
    <%= modificador.nome %>
  </div>

  <div>
    <strong>Descrição:</strong>
    <%= modificador.descricao %>
  </div>

  <div>
    <strong>Operação de Custo:</strong>
    <%= modificador.operacao_custo %>
  </div>

  <div>
    <strong>Valor do Custo:</strong>
    <%= modificador.valor_custo %>
  </div>

  <div>
    <strong>Operação de Poder:</strong>
    <%= modificador.operacao_poder %>
  </div>

  <div>
    <strong>Valor do Poder:</strong>
    <%= modificador.valor_poder %>
  </div>

  <div>
    <strong>Efeito:</strong>
    <%= modificador.efeito %>
  </div>

</div>
