<div id="<%= dom_id modificador %>">
  <div>
    <strong>Nome:</strong>
    <%= modificador.nome %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= modificador.descricao %>
  </div>

  <div>
    <strong>Operacao custo:</strong>
    <%= modificador.operacao_custo %>
  </div>

  <div>
    <strong>Valor custo:</strong>
    <%= modificador.valor_custo %>
  </div>

  <div>
    <strong>Operacao poder:</strong>
    <%= modificador.operacao_poder %>
  </div>

  <div>
    <strong>Valor poder:</strong>
    <%= modificador.valor_poder %>
  </div>

  <div>
    <strong>Efeito:</strong>
    <%= modificador.efeito %>
  </div>

</div>
