<h1>Personagens</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Player</th>
    <th>Nivel</th>
    <th>Acoes</th>
  </tr>
  </thead>
  <tbody>
  <% @personagems.each do |personagem| %>
    <tr>
      <td><%= personagem.nome %></td>
      <td><%= personagem.player %></td>
      <td><%= personagem.nivel %></td>
      <td>
        <%= link_to "Ver", personagem %>
        <%= link_to "Editar", edit_personagem_path(personagem) %>
        <%= link_to "Deletar", personagem, data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Novo Personagem", new_personagem_path %>